        
        table {
            width: 80%;
            border-collapse: collapse;
            margin: 20px auto;
            font-family: sans-serif;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
        p {
            width: 80%;
            margin: 20px auto;
            line-height: 1.6;
            font-family: sans-serif; 
        }
        img {
            max-width: 450px; 
            width: 100%;      
            height: auto;     
            margin: 20px 0;   
        }
        

        form {
            width: 80%;
            margin: 40px auto;
            text-align: left;
            font-family: sans-serif;
            background-color: #fcfcfc;
            padding: 20px;
            border: 1px solid #ddd;
        }
        fieldset {
            margin-bottom: 20px;
            padding: 15px;
            border: 1px solid #ccc;
        }
        legend {
            font-weight: bold;
            padding: 0 5px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        label {
            display: inline-block;
            margin-bottom: 5px;
        }